<!DOCTYPE html>
<html lang="ko">
<head>
    
    <link
    rel="stylesheet"
    href="public/css/allpost.css"/>
    <%- include ('../partials/head') %>
    
</head>

<body>
    <%- include ('../partials/nav') %>
    
    <main class="back_board"> 
        <header class="head_1">
            <div class="head_2">
                <h1>#모든 사진</h1>
            </div>
        </header>
        <article class="top_board">
            <div class="imageview_row_1">
                <div class=imageview_item>
                    <%for(var i=1;i<=image.length;i++){%> 
                        <a href="/allpost/<%=linkpost[i-1]%>"><img src=<%=image[i-1]%>> </a>
                        <%if (i%3==0){%>
                            <p><p>
                    <%} }%>
                </div>
            </div>
        </article>
        <div class=bottom-board-new>
            <% if(isLogined) { %>
                <a class="new" href="/postingform">글 쓰기</a>
                <%}%>
        </div>
        <div class=bottom-board-page>
            <%
                var offset = 2;
                var previous = currentPage>1;
                var next = currentPage<maxPage;
            %>
            <ul class="pagination pagination-sm justify-content-center align-items-center h-100 mb-0">
                <li class="page-item <%= previous?'':'disabled'%> ">
                    <a class="page-link" href="/allpost?page=<%=currentPage-1 %>&limit=<%=limit%>" <%= previous?'':'tabinedex=-1'%>> pre </a>
                </li>
                <% for(var i=1;i<=maxPage;i++){%>
                    <%if(i==1||maxPage||(i>=currentPage-offset && i<=currentPage+offset){%>
                        <li class="page-item <%=currentPage==i?'active':'' %>">
                            <a class="page-link" href="/allpost?page=<%=i%>&limit=<%=limit%>"> <%=i%></a>
                        </li>
                    <%} else if(i==2||i==maxPage-1){%>
                        <li><a class="page-link">...</a></li>
                        <%}%>
                    <%}%>
                    <li class="page-item <%= next?'':'disabled'%>">
                        <a class="page-link" href="/allpost?page=<%= currentPage+1 %>&limit=<%=limit%>"<%=next?'':'tabinedex=-1'%>> nxt </a>
                    </li>
            </ul>
        </div>
    </main>
    
    <%- include ('../partials/footer') %>
    <%- include ('../partials/js') %>
</body>
</html>