<!DOCTYPE html>
<html lang="ko">
<head>
    
    <link
    rel="stylesheet"
    href="public/css/allpost.css"/>
    <%- include ('../partials/head') %>
    
</head>

<body>
    <%- include ('../partials/nav') %>
    
    <main class="back_board"> 
        <header class="head_1">
            <div class="head_2">
                <h1>#모든 사진</h1>
            </div>
        </header>
        <article class="top_board">
            <div class="imageview_row_1">
                <div class=imageview_item>
                    <%for(var i=1;i<=image.length;i++){%> 
                        <a href="/allpost/<%=linkpost[i-1]%>"><img src=<%=image[i-1]%>> </a>
                        <%if (i%3==0){%>
                            <p><p>
                    <%} }%>
                </div>
            </div>
        </article>
        <div class=bottom-board-new>
            <% if(isLogined) { %>
                <a class="new" href="/postingform">글 쓰기</a>
            <%}else{%>
                <a class="new" href="/postingform">글 쓰기</a>
            <%}%>
                
        </div>
        <div class=bottom-board-page>
            <%
                var offset = 2;
            %>
           <ul class="pagination">
                <% for(i=1;i<=maxPage;i++){%>
                    <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) & i<=page+(offset-1))) { %>
                        <%if(i != page){%>
                            <li>[<a href="/allpost?page=<%=i%>"> <%=i%></a>]</li>
                        <%} else {%>
                            <li>[<b><%=i%></b>]</li>
                        <%}%>
                    <%} else if(i==offset+1 || i==maxPage-offset){ %>
                        <li>...</li>
                    <%} }%>
           </ul>
            
        </div>
    </main>
    
    <%- include ('../partials/footer') %>
    <%- include ('../partials/js') %>
</body>
</html>