<!DOCTYPE html>
<html lang="ko">
<head>
    
    <link
    rel="stylesheet"
    href="public/css/allpost.css"/>
    <%- include ('../partials/head') %>
    
</head>

<body>
    <%- include ('../partials/nav') %>
    
    <main class="back_board"> 
        <header class="head_1">
            <div class="head_2">
                <h1>#게시물</h1>
            </div>
        </header>
        <div class="show-img">
            <img class="show-img" src="../<%=filePath%>"> <p></p>
         </div>
        <div class=body>
            <span><%=post.body%></span> <div><%=post.author.id%></div>
        </div>
        
    </main>
    <div class="comment-box">
    <h3 class="comment-header">Comments</h3>
    
        <% if(commentTrees.length){ %>
            <div class="mt-3 border-bottom">
              <% commentTrees.forEach(function(comment) { %>
                <%- include('partials/comment-show',{
                  post:post,
                  comment,comment
                }); %>
              <% }) %>
            </div>
          <% } %>

        <div class="mt-3">

        <form action="/comment?postId=<%= post._id %>" method="post">
          
            <div class="row">
              <div class="col-8">
                <textarea name="text" rows="2" class="form-control "></textarea>
              </div>
              <div class="col-4">
                <button type="submit" class="btn btn-primary h-100 mr-2">댓글 저장</button>
              </div>
            </div>
            
        </form> 
        
      </div>
    </div>
    
    <%- include ('../partials/footer') %>
    <%- include ('../partials/js') %>
    <script src="../../views/posts/comment.js"></script>
</body>
</html>