<!DOCTYPE html>
<html lang="ko">
<head>
    
    <link
    rel="stylesheet"
    href="public/css/allpost.css"/>
    <%- include ('../partials/head') %>
    
</head>

<body>
    <%- include ('../partials/nav') %>
    
    <main class="back_board"> 
        <header class="head_1">
            <div class="head_2">
                <h1>#게시물</h1>
            </div>
        </header>
        <div class="show-img">
            <img class="show-img" src="../<%=filePath%>"> <p></p>
         </div>
        <div class=body>
            <span><%=post.body%></span> <div><%=post.author.id%></div>
        </div>
       
    </main>
    
    <%- include ('../partials/footer') %>
    <%- include ('../partials/js') %>
</body>
</html>